:root{
    --color1: #FFFFFF;
    --color2: #161B22;
    --color3: #4E4199;
    --color4: #F3C242;
}

body{
    font: 20px Arial, sans-serif;
}

.a-movin{
    background-color: var(--color3)
}

.texto-sobre{
    padding-top: 30px;
    text-align: left;
    font-family: 'Calibri';
    color: aqua;

}

.titulo-sobre{
    text-align: center;
    color: aqua;
}

.missao{
    background-color: var(--color4);
}

.titulo-missao{
    text-align: center;
    color: #754996;
}

.texto-missao{
    padding-top: 30px;
    text-align: justify;
    font-family: 'Calibri';
    color: #754996;
}


.produtos{
    background-color: aqua;
}

.titulo-produtos{
    text-align: center;
    color: rgb(122, 143, 143);
}

.texto-produtos{
    padding-top: 30px;
    text-align: center;
    font-family: 'Calibri';
    color: rgb(122, 143, 143);
}

.comprar{
    background-color: white;
}

.titulo-comprar{
    text-align: center;
    color: var(--color2);
}

.texto-comprar{
    color: var(--color2);
    padding-bottom: 30px;
    font-family: 'Calibri';
}

.devby{
    background-color: var(--color2);
}

.texto-devby{
    color: aqua;
    text-align: right;
    font-size: small;
}

.img{
    margin-left: 30px;
    margin-right: 30px;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;

}

.plane{
    padding-top: 90px;
}


.zoom {
    position: relative;
    overflow: hidden;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.zoom:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer-icons{ /*linha inteira da div*/
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.footer-icons .icons{ /*trabalhando com o plano de fundo*/
    width: 30px;
    height: 30px;
    background-color: var(--color3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons .icons .fa-brands, .fa-solid {
    color: var(--color2);
    font-size: 26px;
    /* transition: color 0.3s ease; */
}

.footer-icons .icons .fa-brands:hover {
   color: var(--color4);
}
.footer-icons .icons .fa-solid:hover {
    color: var(--color4);
 }


@media screen and (max-width: 990px) {
    .row .mktplace{
        margin-bottom: 40px;
        width: 50%;
    }
}